body{
    height: 95vh;
    width: 95vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(/assets/bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    color: white;
    font-family: 'Courier New', Courier, monospace;
}